

header{
	background:blue;
	height: 70px;
	color:#fff;
}
a{text-decoration: none;color: #fff;}
header p{padding-top:20px;}
footer{
	background : blue;
	height: 100px;
	color:#fff;
}
footer p{padding-top:50px;}
.image{
	padding-top:10%;
	height: 453px;
}
.intro{
	margin:70px 0px 80px 0px;
}
.question{min-height: 403px; padding-bottom: 20px;}
.result-logo{margin-left: 42%;margin-top:1.6%;}
.result-logo1{margin-left: 55%;}
.result-container{margin-left: 40%;margin-top:1%; color:#684B68;}
.logout{padding-top:100px;}
.next{margin-left:200px;}
.answer{color:green;font-weight: 300;font-size: larger; }
.result{height: 452px;}
#timer{ float:right;padding: 5px 20px 0 0;}
